fn main() {
    // Function definitions - should not be included.
    // They won't be executed unless called.

    (x) -> x + 1;
    () -> side_effect();
    (x) -> reecord.a + x + side_effect();

    // No output is expected.
}

fn side_effect() {
    println("hi!");
    return 10;
}
