/* Make all code blocks have the JetBrains Mono font, if possible. */
code {
    font-family: "JetBrains Mono", monospace;
}

/* Put a background color in the book title on the left. */
#__nav_1_label,
#__nav_2_label,
#__nav_3_label {
    background-color: var(--md-default-fg-color--lightest);
    width: fit-content;

    margin-bottom: 0.5em;
    padding: 0.5em 0.7em;

    border-radius: 0.7em;

    position: relative;
    left: -0.5em;
}
