record A(a);

fn main() {
    var a = A(10);
    change_a(a);
    println(a); // 10
}

// changing a parameter should not change the original variable.
fn change_a(a) {
    a.a = 20;
    println(a); // 20
}
