fn main() {
    var one = nil;
    var two = nil;

    for var i = 1; i <= 2; i = i + 1 {
        var closure = () -> println(i);

        if one == nil {
            one = closure;
        }
        else {
            two = closure;
        }
    }

    one(); // 1
    two(); // 2
}