record Object(field) {
    fn method() {
        println(self.field); // 20
        self.field = 30;
        println(self.field); // 30
    }
}

fn main() {
    var obj = Object(20);
    var method = obj.method;

    method(); // 'self' is a reference, so changes to it should reflect in the original instance.
    println(obj.field); // 30
}